.App {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  font-size: 20px;
}
*{
  margin: 0;
  padding: 0;
}

.addArray {
  margin-left: 10%;
  margin-top: 7px;
  color: blue;
}
.ans{
  color: blueviolet;
}
